$color: rgb(204, 243, 243);
body {
    background: $color;
    // 文字禁止选择
    user-select: none;
}
img {
    // 图片禁止拖动
    -webkit-user-drag: none;
}


// 首页的样式
.site-layout .site-layout-background {
    background: $color;
}
#components-layout-demo-side .logo {
    height: 32px;
    width: 160px;
    margin: 8px auto;
    background: $color;
}